.footer {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #444;
    border-top: 1px solid #666;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}